:root {
	--container-width: 400px;
	--game-card-background: rgb(63, 122, 225);
	--game-card-cirle-background: rgb(255, 255, 255);
	--game-card-cross-color: rgb(0, 0, 0);
	--game-card-height: 400px;
	--game-font-size: 70px;
}

body {
	z-index: -1;
	font-family: Arial-Narrow;
}

.overlay {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(152, 150, 150, 0.8);
	z-index: 3;
}
.container {
	width: var(--container-width);
	display: flex;
	flex-direction: column;
}

.hide {
	display: none;
}

.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.app h1 {
	margin-bottom: 10px;
	text-align: center;
}

.buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	padding: 0px 10px;
}

.button {
	font-size: 16px;
	padding: 8px 8px;
	background-color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	border: 1px solid grey;
	user-select: none;
}

.button:hover {
	transform: scale(1.05);
}

.button:focus {
	outline: none;
}

.github {
	position: absolute;
	justify-content: center;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%);
	font-size: 20px;
	filter: brightness(70%);
	cursor: pointer;
}

.github a {
	text-decoration: none;
	color: var(--game-card-background);
}

.github a:visited {
	text-decoration: none;
}

.github-icon {
	margin-left: 5px;
	color: var(--game-card-background);
}

@media (max-width: 600px) {
	.container {
		width: 330px;
	}
	.game-board {
		height: 330px;
		width: 330px;
	}
	.card {
		width: 320px;
	}

	.small {
		height: 120px;
		width: 120px;
		pointer-events: none;
		margin: 20px 0px;
	}
}
@media (max-width: 330px) {
	.container {
		width: 300px;
	}
	.game-board {
		height: 300px;
		width: 300px;
	}
	.card {
		width: 300px;
	}

	.small {
		height: 120px;
		width: 120px;
		pointer-events: none;
		margin: 20px 0px;
	}
}
