* {
	margin: 0;
	padding: 0;
}
.solution-card {
	position: fixed;
	padding: 20px;
	width: 400px;
	background: white;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 9;
}

h2 {
	margin: 10px 0px;
}
.solution {
	margin: 8px;
}
